if Langtrainer.LangtrainerApp.currentUser.signedIn()
  span.user-email= Langtrainer.LangtrainerApp.currentUser.get('email')
  a.btn.btn-default.logout(href='/sign_out', data-method='delete', rel='nofollow') Sign out
else
  a.btn.btn-primary.sign-in-btn(href='javascript:void(0)', rel='nofollow') Sign in
  a.btn.btn-inverse.sign-up-btn(href='javascript:void(0)', rel='nofollow') Sign up
