.col-xs-6
  .panel.panel-default
    .panel-heading
      ul.list-inline
        li
          a(href='javascript:void(0)')
            i.fa.fa-question

    .panel-body.lt-area
      .lt-question
.col-xs-6
  .panel.panel-default
    .panel-heading
      ul.list-inline
        li
          a(href='javascript:void(0)')
            i.fa.fa-check
        li
          a(href='javascript:void(0)')
            i.fa.fa-forward
        li
          a(href='javascript:void(0)')
            i.fa.fa-question
        li
          a(href='javascript:void(0)')
            i.fa.fa-eye
    .panel-body.lt-area
      textarea.lt-answer
