.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal')
        span(aria-hidden='true') &times;
      = LangtrainerI18n.t('dialog.activate.title')
    .modal-body
      p
        = LangtrainerI18n.t('dialog.activate.did_not_receive')
        |&nbsp;
        a.gray.js-submit-btn(href='#') = LangtrainerI18n.t('dialog.activate.send_again')

      .alert.alert-success(style='display: none;')
        p = LangtrainerI18n.t('dialog.activate.success')
      .actions
          a.btn.btn-primary(data-dismiss='modal') = LangtrainerI18n.t('dialog.activate.close')
