.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal')
        span(aria-hidden='true') &times;
      h4.modal-title=LangtrainerI18n.t('dialog.password_reset.title')
    .modal-body
      .step-a
      .step-b
        p=LangtrainerI18n.t('dialog.password_reset.success')
        .modal-footer
          .pull-left
            button.btn.btn-primary.js-close=LangtrainerI18n.t('dialog.password_reset.close')
