.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal')
        span(aria-hidden='true') &times;
      h4.modal-title=LangtrainerI18n.t('dialog.password_reset_request.title')
    .modal-body
      .step-a
      .step-b
        p = LangtrainerI18n.t('dialog.password_reset_request.success')
        p
          = LangtrainerI18n.t('dialog.password_reset_request.did_not_receive')
          |&nbsp;
          a.gray.js-submit-btn(href='#') = LangtrainerI18n.t('dialog.password_reset_request.send_again')
        .modal-footer
          .pull-left
            button.btn.btn-primary.js-close=LangtrainerI18n.t('dialog.password_reset_request.close')
